

.background-image {
    height: 600px;
    background-image: url('../img/peakpx (1).jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 100px 0;
    color: #fff;
}

.nav-text-container {
    margin-top: 140px;
}

.map-container {
    height: 300px;
}

.bali-section {
    background: #e5e3dd;
}

.bali-section p {
    font-size: 16px;
}

.my-blockquote, .my-blockquote-footer {
    width: 400px;
    align-self: center;
}

.carousel img {
    height: 700px;
    object-fit: fill;
    /*object-position: center;*/
}

.my-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f6f6f6;
}

.quote-section {
    margin: 80px 0 140px 0;
}